.route-app {
    .app-header-title {
        display: block!important;
        height: 60px;

        .header-title-logo {
            padding-top: 0px!important;

            img {
                max-height: 50px;
                width: auto;
            }
        }
    }

    .app-profile {
        display: block;

        .p-button {
            height: 2.75rem;
            width: 2.75rem;
        }
    }

    .website-header-title {
        display: none!important;
    }

    .website-login-logout {
        display: none!important;
    }

    .webite-login-menu {
        display: none!important;
    }

    #footer {
        background-color: transparent!important;

        .section .content-wrapper .content > div {
            padding: 1.5rem 0 !important;
        }
    }

    .text-black-alpha-90 {
        a {
            color: rgba(0,0,0,0.9) !important;
        }
    }
}