.p-button-icon-left {
    padding-right: .5em;

    &.pi {
        font-size: .5rem;
    }
}

.p-button-icon-only.p-button-rounded.p-button-sm {
    height: 1.5rem;
    width: 1.5rem;
}

.p-card .p-card-content {
    height: auto;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: .25rem 1rem;
}

.p-dialog-header .p-dialog-header-actions .p-button {
    background-color: transparent;
    border: none;
}

.p-dialog-title {
    font-weight: var(--p-dialog-title-font-weight);
}

.p-floatlabel {
    &:has(input:focus) label {
        display: none;
    }

    label {
        top: 30%;

        i.pi {
            font-size: 1rem;
        }
    }
}

.p-iconfield .p-inputtext {
    padding-left: 2rem;
}

.p-inputicon {
    top: 30%;
    z-index: 1;
}

.p-inputtext {
    border: 2px solid #ccc;
}

.p-menuitem-icon {
    margin: 0 .5em;
}

.p-menu {
    .p-menuitem {
        padding: .5rem;
    }
}

.p-panel-toggleable {
    .p-panel-header {
        display: flex;
        justify-content: flex-start;
        padding-left: 0rem;
    
        .p-panel-header-actions {
            order: 0;
    
            .p-button {
                background: none;
                border: none;
            }
        }
    }
}


.p-tab {
    font-weight: 500;
}

.p-tab-active {
    border-style: solid;
    font-weight: 600;
}

.p-tabpanel {
    height: 100%;
}

.p-tabpanels {
    height: calc(100% - 49.6px);
}

.p-tag a {
    padding: .1rem .25rem;
}

.p-tree {
    background: transparent;
    border-color: transparent;

    > .p-iconfield {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;

        .p-inputtext {
            width: 90%;
        }
    }
    
    .p-tree-root {
        height: calc(100% - 2em);
        margin-top: 1em;
        overflow-y: scroll;
    }

    .p-tree-container .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
        background: transparent;
        color: white;
    }

    .p-inputicon {
        color: white;
    }
}

.set-background-image {
    img {
        background-color: black;
    }
}