.p-button {
    background: var(--primary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.p-button-icon-left {
    padding-right: .5em;

    &.pi {
        font-size: .5rem;
    }
}

.p-card .p-card-content {
    height: auto;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: .25rem 1rem;
}

.p-dialog-header .p-dialog-header-actions .p-button {
    background-color: transparent;
    border: none;
}

.p-dialog-title {
    font-weight: var(--p-dialog-title-font-weight);
}

.p-floatlabel {
    &:has(input:focus) label {
        display: none;
    }

    label {
        top: 30%;

        i.pi {
            font-size: 1rem;
        }
    }
}

.p-iconfield .p-inputtext {
    padding-left: 2rem;
}

.p-inputicon {
    top: 30%;
    z-index: 1;
}

.p-inputtext {
    border: 2px solid #ccc;
}

.p-menuitem-icon {
    margin: 0 .5em;
}

.p-menu {
    .p-menuitem {
        padding: .5rem;
    }
}

.p-tab-active {
    border-style: solid;
}

.p-tabpanel {
    height: 100%;
}

.p-tabpanels {
    height: calc(100% - 49.6px);
}

.p-tag a {
    padding: .1rem .25rem;
}

.p-tree {
    background: transparent;
    border-color: transparent;

    .p-tree-container .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
        background: transparent;
        color: white;
    }
}

.set-background-image {
    img {
        background-color: black;
    }
}